# osx noise
.DS_Store

# Xcode 4 noise
*.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcodeproj/xcuserdata/*
*.xcworkspace/xcuserdata/*

bin

# Rubymine noise
.idea

# Eclipse setup
.project

# Emacs noise
*~
\#*\#
.\#*
src/bla.dot
src/sppf.dot

# Cache
src/core/system/load/cache/*


# -NEWs
*-NEW

doc/papers/grammar/ensogrammars.bbl

doc/papers/grammar/ensogrammars.blg

doc/papers/grammar/sigplanconf-guide.pdf

doc/papers/piping/piping.aux

doc/papers/piping/piping.log

doc/papers/piping/piping.pdf
