# osx noise
.DS_Store

# Xcode 4 noise
*.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcodeproj/xcuserdata/*
*.xcworkspace/xcuserdata/*

bin

# Eclipse setup
.project

# -NEWs
*-NEW

doc/papers/grammar/ensogrammars.bbl
doc/papers/grammar/ensogrammars.blg
doc/papers/grammar/sigplanconf-guide.pdf
doc/papers/piping/piping.aux
doc/papers/piping/piping.log
doc/papers/piping/piping.pdf
/src/sppf.eps
/src/sppf.pdf
/src/amb.dot
/src/amb.eps
/src/amb.pdf
/src/last-sppf.dot
/src/last-sppf.eps
/src/last-sppf.pdf

