# osx noise
.DS_Store

# Xcode 4 noise
*.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcodeproj/xcuserdata/*
*.xcworkspace/xcuserdata/*

bin

# Rubymine noise
.idea

# Eclipse setup
.project

# Emacs noise
*~
\#*\#
.\#*
src/bla.dot
src/sppf.dot
doc/papers/viewpoint/outsidemodels.aux
doc/papers/viewpoint/outsidemodels.log
doc/papers/viewpoint/outsidemodels.pdf
doc/papers/viewpoint/outsidemodels.synctex.gz
doc/papers/introduction/QuadModel.eps
doc/papers/data/QuadModel.eps
doc/papers/data/ensodata.aux
doc/papers/data/ensodata.log
doc/papers/data/ensodata.pdf
doc/papers/data/ensodata.synctex.gz
doc/papers/grammar/ensogrammars.aux
doc/papers/grammar/ensogrammars.log
doc/papers/grammar/ensogrammars.pdf
doc/papers/grammar/ensogrammars.synctex.gz

# Cache
src/core/system/load/cache/*

# -NEWs
*-NEW

doc/papers/grammar/ensogrammars.bbl

doc/papers/grammar/ensogrammars.blg

doc/papers/grammar/sigplanconf-guide.pdf

doc/papers/piping/piping.aux

doc/papers/piping/piping.log

doc/papers/piping/piping.pdf
